In [1]:
import numpy as np
import pandas as pd

#### Question 1:
What's the version of NumPy that you installed?

In [2]:
np.__version__

'1.23.3'

#### Question 2:

How many records are in the dataset?

In [3]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [4]:
print("Number of Records: {}".format(df.shape[0]))
print("Number of Features: {}".format(df.shape[1]))

Number of Records: 11914
Number of Features: 16

#### Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [5]:
df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

#### Question 4
What's the number of unique Audi car models in the dataset?

In [6]:
print(df.loc[df['Make'] == 'Audi', 'Model'].unique())
print("Unique Audi cars: {}".format(len(df.loc[df['Make'] == 'Audi', 'Model'].unique())))

['100' '200' '80' '90' 'A3' 'A4 allroad' 'A4' 'A5' 'A6' 'A7' 'A8'
 'allroad quattro' 'allroad' 'Cabriolet' 'Coupe' 'Q3' 'Q5' 'Q7' 'R8'
 'RS 4' 'RS 5' 'RS 6' 'RS 7' 'S3' 'S4' 'S5' 'S6' 'S7' 'S8' 'SQ5' 'TT RS'
 'TT' 'TTS' 'V8']
Unique Audi cars: 34

#### Question 5:
How many columns in the dataset have missing values?

In [7]:
null_series = df.isnull().sum()
print(null_series)

null_values = null_series > 0
print("\nColumns with missing values: {}".format(null_values.sum()))

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Columns with missing values: 5

Question 6

- Find the median value of "Engine Cylinders" column in the dataset.
- Next, calculate the most frequent value of the same "Engine Cylinders".
- Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
- Now, calculate the median value of "Engine Cylinders" once again.
- Has it changed?

In [8]:
print("Median: ", df['Engine Cylinders'].median())
print("Mode: ", df['Engine Cylinders'].mode()[0])

Median:  6.0
Mode:  4.0

In [9]:
print("Null values before cleaning: ", df['Engine Cylinders'].isnull().sum())
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0])
print("Null values after cleaning: ", df['Engine Cylinders'].isnull().sum())
print("Median after cleaning: ", df['Engine Cylinders'].median())

Null values before cleaning:  30
Null values after cleaning:  0
Median after cleaning:  6.0

Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. 6. Let's call the result XTX.
7. Invert XTX.
8. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
9. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
10. What's the value of the first element of w?

In [10]:
lotus_df = df.loc[df['Make']=='Lotus', ["Engine HP", "Engine Cylinders"]]
lotus_df = lotus_df.drop_duplicates()
lotus_df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [11]:
X = lotus_df.to_numpy()
XTX = X.T@X
XTX_inv = np.linalg.inv(XTX)
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = XTX_inv@X.T@y
w

array([  4.59494481, -63.56432501])